.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/
/resources/iot-c/.idea/
/resources/tmp/
/dgs19.code-workspace
/resources/iot-c/collector/build/
/resources/iot-c/common/build/
/resources/iot-c/collector-ui/build/
/resources/jsim/build/
