version: '3.6'
services:
  postgres-db:
    image: postgres:14.19
    networks:
      - iotc-db
    environment:
      POSTGRES_USER: ${DB_USER:-iotc}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-iotc}
      POSTGRES_DB: ${DB_NAME:-iotc}
    #    ports:
    #      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-iotc} || exit false"]
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 20s
    volumes:
      - db-data:/var/lib/postgresql/data

  collector:
    image: dgs19/iot-collector:latest
    networks:
      - iotc-db
      - iotc-ui
    environment:
      LOG_LEVEL: DEBUG
      DB_HOST: postgres-db

  collector-ui:
    image: dgs19/iot-collector-ui:latest
    networks:
      - iotc-ui
    environment:
      LOG_LEVEL: DEBUG
      COLLECTOR_HOST_NAME: collector
    ports:
      - "8093:8093"

  pgadmin:
    image: dpage/pgadmin4:9.8.0
    networks:
      - iotc-db
    container_name: pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@pgadmin.com
      PGADMIN_DEFAULT_PASSWORD: pgadmin
    ports:
      - "8094:80"
    volumes:
      - pgadmin-data:/var/lib/pgadmin

networks:
  iotc-db:
  iotc-ui:

volumes:
  db-data:
  pgadmin-data:
